.product-gallery-wrapper {
  width: 50%;
}

.product-gallery-wrapper .product-main-swiper {
  width: 100%;
  height: 600px;
  border: 3px solid #eeeeee;
  border-radius: 8px;
  position: relative;
}
.product-main-swiper img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  padding: 30px;
}
.product-main-swiper .swiper-icons {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 10;
}
.fill,
.heart {
  color: #2196f3;
  font-size: 2.5rem;
  cursor: pointer;
}

.product-gallery-wrapper .product-thumbs-swiper {
  margin-top: 15px;
  height: auto;
  width: 100%;
  padding-bottom: 20px;
}
.product-gallery-wrapper .swiper-scrollbar-drag {
  background-color: #2196f3;
}
.product-gallery-wrapper .product-thumbs-swiper .swiper-slide {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #eeeeee;
  border-radius: 8px;
}

.product-thumbs-swiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  padding: 20px;
}

.product-gallery-wrapper .product-thumbs-swiper .swiper-slide-thumb-active {
  border-top: 4px solid #2196f3;
}
