.lightbox {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  padding: 50px 20px 20px 20px;
}

.closebtn {
  position: absolute;
  top: 120px;
  right: 60px;
  font-size: 2.5rem;
  color: #2196f3;
  cursor: pointer;
  background: white;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  transition: background 0.2s;
  cursor: pointer;
}
.closebtn:hover {
  color: white;
  background: #2196f3;
}
.lightbox-swiper {
  width: 50%;
  height: 80%;
  background: white !important;
}
.lightbox-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none !important;
}
.slide-img-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-img-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 8px;
}
