.carousel {
  display: flex;
  height: 92vh;
  width: 100%;
  overflow: hidden;
}

.carousel_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../img/homebackground.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.carousel_card {
  display: flex;
  flex: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 160px; /*
  transform: translateX(-100%);
  transition: transform 4s ease, opacity 3s ease;*/
}

.carousel_card_active {
  opacity: 1;
  transform: translateX(0%);
  pointer-events: visible; /*
  transition: transform 4s ease, opacity 3s ease;*/
}
.carousel_card .info {
  width: 60%;
}
.carousel_card .info h2 {
  font-size: 3.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 4.9rem;
  color: white;
  font-weight: 800;
  width: 100%;
}
.carousel_card .info p {
  color: white;
  margin-top: 15px;
  font-weight: 500;
  font-size: 1.3rem;
}
.carousel_card .info p span {
  color: white;
  font-weight: 700;
}
.carousel_card .info button {
  margin-top: 30px;
  padding: 10px 20px;
  background: white;
  color: #2196f3;
  font-weight: 600;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
  border: 2px solid transparent;
  font-size: 1.1rem;
}

.carousel_card .info button:hover {
  color: #2196f3;
  background: none;
  border: 2px solid #2196f3;
}

.carousel_card .image {
  width: 420px;
  height: 420px;
}
.carousel_card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*
.card_image {
  width: 100%;
  object-fit: cover;
}

.card_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  padding: 40px 30px;
  align-items: flex-end;
}

.card_title {
  color: white;
  font-size: 30px;
}

.carousel_arrow_left,
.carousel_arrow_right {
  position: absolute;
  font-size: 40px;
  top: 50%;
  transform: translate(0, -50%);
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding-bottom: 7px;
  cursor: pointer;
}

.carousel_arrow_left {
  left: 15px;
}

.carousel_arrow_right {
  right: 15px;
}
*/
.carousel_pagination {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, 0);
}

.pagination_dot {
  height: 10px;
  width: 10px;
  background-color: steelblue;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}

.pagination_dot:hover {
  transform: scale(1.2);
}

.pagination_dot-active {
  background-color: #f5f5f5;
}

@media (max-width: 1700px) {
  .carousel_card .info h2 {
    font-size: 3.2rem;
  }
}
@media (max-width: 1500px) {
  .carousel_card {
    flex-direction: column;
    padding: 20px 30px 65px 30px;
    gap: 10px;
    justify-content: space-evenly;
  }
  .carousel_card .info {
    width: 100%;
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .carousel_card .info h2 {
    text-align: center;
    font-size: 2.7rem;
  }
  .carousel_card .image {
    width: 25%;
    min-width: 180px;
    height: auto;
  }
  .carousel_card .info p {
    font-size: 1.2rem;
  }
}
@media (max-width: 850px) {
  .carousel_card .info h2 {
    font-size: 1.9rem;
    line-height: 2.8rem;
  }
  .carousel {
    height: 88vh;
  }
  @media (max-width: 650px) {
    .carousel_card .info h2 {
      font-size: 1.4rem;
      line-height: 2.5rem;
    }
    .carousel {
      height: 76vh;
    }
  }
}
