.home {
  width: 100%;
}
.top-banner {
  width: 100%;
}
/*About section style*/
.about {
  margin-top: 20px;
  padding: 30px 80px;
  width: 100%;
  background: #fff;
}
.about .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.about .container .box {
  display: flex;
  width: 270px;
  border: 2px solid #eeeeee;
  border-radius: 3px;
  padding: 15px 10px;
  justify-content: space-around;
}
.about .container .box .icon {
  font-size: 2.5rem;
  color: #2196f3;
}
.about .container .box .detail h3 {
  font-size: 1rem;
  color: #232323;
  text-transform: uppercase;
}
.about .container .box .detail p {
  margin-top: 5px;
  color: #757575;
  font-size: 0.9rem;
}
/*'Hot Deal Products' and 'Featured Product' and 'Toprated Product' section style*/
.sale-product,
.bestseller-product,
.toprated-product {
  padding: 20px 80px;
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.prod-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}
.sale-product h2,
.toprated-product h2,
.bestseller-product h2 {
  color: #232323;
  font-size: 1.5rem;
  border-bottom: 2px solid #2196f3;
  width: fit-content;
  align-self: flex-start;
}
.home .toprated-product h2 {
  width: 120px;
}
.home .bestseller-product h2 {
  width: 140px;
}
.prod-container .box {
  border: 2px solid #eeeeee;
  border-radius: 10px;
  padding: 10px 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  position: relative;
  cursor: pointer;
}

.prod-container .box .img-box img {
  width: 100%;
  height: 170px;
  margin: 15px 0px;
}

.prod-container .box .detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.prod-container .box .detail .icons {
  position: absolute;
  margin-top: -100px;
  transition: 0.2s;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  opacity: 0;
}
.prod-container .box .wishlist-icon {
  position: absolute;
  top: 12px;
  right: 15px;
  border: 2px solid #eeeeee;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}
/*Hovering effect on product box*/

.prod-container .box:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.4s;
}

.prod-container .box:hover .detail .icons {
  opacity: 1;
  transition: 0.4s;
}

.prod-container .box:hover .img-box {
  opacity: 30%;
}

.prod-container .box .detail .icons .icon:hover {
  color: #2196f3;
  background: #fff;
  border: 1px solid #2196f3;
}

.prod-container .box .detail .icons .icon {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 7px;
  color: #fff;
  background: #2196f3;
  cursor: pointer;
  font-size: 18px;
}
.prod-container .box .detail .prod-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  margin-top: 10px;
  border: 2px solid #eeeeee;
  padding: 10px 5px;
  border-radius: 5px;
}
.prod-container .box .detail .prod-details .rating {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.prod-container .box .detail .prod-details .rating p {
  font-size: 0.8rem;
}

.prod-container .box .detail h3 {
  text-align: center;
  color: #232323;
  font-size: 15px;
  line-height: 1.3rem;
}
.prod-container .box .detail h4 {
  margin-top: 10px;
  color: #2196f3;
  font-size: 17px;
  font-weight: 700;
}
.prod-container .box .detail .discount {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.prod-container .box .detail button {
  border: 1px solid #2196f3;
  margin-top: 20px;
  padding: 10px 20px;
  background: #2196f3;
  color: #fff;
  font-weight: 600;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
}
.prod-container .box .detail button:hover {
  color: #2196f3;
  background: none;
  border: 1.5px solid #2196f3;
}
/* Mid-bar section style*/
.mid-banner {
  padding: 40px 80px;
  background: #fff;
}
.mid-banner .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  align-items: center;
}
.mid-banner .container .banner-box img {
  width: 855px;
  border-radius: 8px;
  cursor: pointer;
}
/*Top Category style*/
.top-category {
  padding: 20px 80px;
  width: 100%;
  background: #fff;
}
.top-category .container {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.top-category .container .cat-box {
  width: 300px;
  padding: 10px;
}

.top-category .container .cat-box h2 {
  color: #232323;
  font-size: 18px;
  align-self: left;
  margin: 8px 0px;
  font-weight: 750;
}
.top-category .container .cat-box p {
  color: #757575;
  font-size: 16px;
  align-self: left;
  margin: 4px 0px 6px 0px;
  font-weight: 450;
}
.top-category .container .cat-box button {
  border: 1px solid #2196f3;
  margin-top: 8px;
  padding: 10px 20px;
  background: #2196f3;
  color: #fff;
  font-weight: 600;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
}
.top-category .container .cat-box button:hover {
  color: #fff;
  background: #232323;
}

.top-category .container .categories {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.top-category .container .categories .box .img-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-category .container .categories .box .img-box img {
  width: 200px;
  height: 200px;
}
.top-category .container .categories .box {
  padding: 10px 10px;
  border: 1.5px solid #eeeeee;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.top-category .container .categories .box .info h4 {
  color: #2196f3;
}
.top-category .container .categories .box:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.top-category .container .categories .box .info {
  text-align: center;
  color: #232323;
  font-size: 1rem;
}

/* Newsletter Product section style*/

/* Brands Product section style*/
.brands {
  padding: 50px 55px;
}
.brands .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}
.brands .container .box {
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.brands .container .box img {
  width: 90px;
}
/*Responsive for mobile devices (max-width: 1700px)*/
@media (max-width: 1700px) {
  .top-banner .content {
    flex-direction: column-reverse;
    align-items: center;
  }
  .top-banner .content .info {
    padding-left: 0;
    padding: 0px 0px 115px 0px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .top-banner .content .img-box {
    width: 45%;
  }
  .top-banner .content .info h2 {
    font-size: 2.5rem;
    text-align: center;
  }
  .mid-banner .container .banner-box img {
    width: 600px;
  }
  .top-category {
    padding: 20px 20px;
    width: 100%;
    background: #fff;
  }
  .top-category .container {
    justify-content: center;
    gap: 20px;
  }
  .top-category .container .cat-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
/*Responsive for mobile devices (max-width: 1300px)*/
@media (max-width: 1300px) {
  .top-banner .content {
    flex-wrap: wrap;
  }
  .top-banner .content .info h2 {
    font-size: 2.2rem; /**/
  }
  .top-banner .content .info p {
    font-size: 1rem;
  }
  .about .container {
    gap: 10px;
  }
  .sale-product,
  .bestseller-product,
  .toprated-product {
    padding: 20px 30px;
  }
  /*Mid banner style*/
  .mid-banner {
    padding: 40px 40px;
    background: #fff;
  }
  .mid-banner .container .banner-box img {
    width: 480px;
  }
  .newsletter .container {
    padding: 30px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  .newsletter {
    padding: 20px 30px;
    width: 100%;
    background: #fff;
  }
  .newsletter .container .box {
    width: 76%;
  }
}
/*Responsive for mobile devices (max-width: 950px)*/
@media (max-width: 850px) {
  .top-banner .content {
    flex-direction: column-reverse; /**/
    align-items: center; /**/
    padding-top: 80px; /**/
  }
  .mid-banner {
    padding: 20px 40px;
  }
  .mid-banner .container .banner-box img {
    width: 350px;
  }
}
/*Responsive for mobile devices (max-width: 740px)*/
@media (max-width: 740px) {
  .top-category .container .categories {
    gap: 15px;
  }
  .top-category .container .categories .box {
    width: 46%;
  }
  .top-category .container .categories .box .info {
    width: 100%;
  }
  .top-category .container .categories .box .info h4 {
    font-size: 0.8rem;
  }
  .top-category .container .categories .box .img-box img {
    width: 100%;
    height: 100%;
  }

  .sale-product,
  .bestseller-product,
  .toprated-product {
    padding: 20px 20px;
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .prod-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
  }

  .prod-container .box {
    border: 2px solid #eeeeee;
    border-radius: 10px;
    padding: 10px 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%;
  }

  .prod-container .box .img-box img {
    width: 100%;
    height: 120px;
    margin: 10px 0px;
  }

  .prod-container .box .detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }

  .prod-container .box .detail .icons {
    position: absolute;
    margin-top: -100px;
    transition: 0.2s;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    opacity: 0;
  }

  /*Hovering effect on box*/

  .prod-container .box:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.4s;
  }

  .prod-container .box:hover .detail .icons {
    opacity: 1;
    transition: 0.4s;
  }

  .prod-container .box:hover .img-box {
    opacity: 5%;
  }

  .prod-container .box .detail .icons .icon:hover {
    color: #2196f3;
    background: #fff;
    border: 1px solid #2196f3;
  }

  .prod-container .box .detail .icons .icon {
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    background: #2196f3;
    cursor: pointer;
    font-size: 18px;
  }
  .prod-container .box .detail .prod-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    margin-top: 10px;
    border: 2px solid #eeeeee;
    width: 100%;
    border-radius: 5px;
  }
  .prod-container .box .detail .prod-details .rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .rating p:first-of-type {
    display: none;
  }
  .prod-container .box .detail .prod-details .rating p {
    font-size: 0.8rem;
  }
  .prod-container .detail .prod-details .productState {
    display: none;
  }
  .prod-container .box .detail h3 {
    text-align: center;
    color: #232323;
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
  .prod-container .box .detail h4 {
    margin-top: 10px;
    color: #2196f3;
    font-size: 0.9rem;
    font-weight: 700;
  }
  .prod-container .box .detail .discount {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .prod-container .box .detail button {
    border: 1px solid #2196f3;
    margin-top: 20px;
    padding: 10px 20px;
    background: #2196f3;
    color: #fff;
    font-weight: 600;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
  }
  .prod-container .box .detail button:hover {
    color: #2196f3;
    background: none;
    border: 1.5px solid #2196f3;
  }
  .sale-product h2,
  .bestseller-product h2,
  .toprated-product h2 {
    align-self: center;
  }
  .about {
    padding: 30px 10px;
  }
  .about .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about .prod-container .box .detail h3 {
    font-size: 0.9rem;
  }
  .about .prod-container .box .detail p {
    font-size: 0.8rem;
  }
  .newsletter .container .main h3 {
    font-size: 24px;
  }
  .newsletter .container .main p {
    margin-top: 13px;
    line-height: 25px;
    text-align: center;
  }
  .newsletter .prod-container .box {
    width: 100%;
  }
  .newsletter .prod-container .box input {
    width: 100%;
    padding: 15px 10px;
    border: 1px solid #2196f3;
    font-size: 0.8rem;
  }
  .newsletter .prod-container .box button {
    min-width: 100%;
    margin-top: 10px;
    border: 1px solid #2196f3;
  }
}
/*Responsive for mobile devices (max-width: 750px)*/
@media (max-width: 550px) {
  .sale-product,
  .bestseller-product,
  .toprated-product {
    padding: 20px 20px;
    width: 100%;
    background: #fff;
  }
  .prod-container {
    margin-top: 40px;
  }
  .sale-product h2,
  .bestseller-product h2,
  .toprated-product h2 {
    align-items: center;
  }
  .top-banner .content .info h2 {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  .top-banner .content .img-box {
    width: 75%;
  }
  .prod-container .box .detail .icons {
    display: none;
  }
  .prod-container .box:hover {
    box-shadow: none;
  }
  .prod-container .box:hover .img-box {
    opacity: 100%;
  }
}
