* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
/*Style top_bar*/
.nav .container .top_bar {
  padding: 17px 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #eee;
}

.nav .container .top_bar p {
  color: #757575;
  font-weight: 600;
  font-size: 15px;
}

.nav .container .top_bar .link {
  color: #757575;
}
/*Style mid_bar*/
.nav .container .mid_bar {
  width: 100%;
}

.nav .container .mid_bar .content {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 15px 15px;
}
.nav .container .mid_bar .content .navicon {
  display: none;
}

.nav .container .mid_bar .content .logo img {
  width: 150px;
  transition: 0.5s;
  cursor: pointer;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++*/
.nav .container .mid_bar .content .search_bar {
  display: flex;
  position: relative;
  opacity: 0;
} /*++++++++++++++++++++++++++++++++++++++++++++++++*/
.nav .container .mid_bar .content .search_bar input {
  width: 650px;
  padding: 8px 14px;
  outline: none;
  border: 1px solid #2196f3;
  border-radius: 20px;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++*/
.nav .container .mid_bar .content .search_bar .search {
  position: absolute;
  right: 20px;
  top: 55%;
  transform: translateY(-50%);
  color: #2196f3;
  font-size: 1.4rem;
  cursor: pointer;
}
.nav .container .mid_bar .content .icons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.nav .container .mid_bar .content .icons .icon .link {
  padding: 10px 12px;
  color: #0163d2;
  border: 1px solid #bdbdbd;
  border-radius: 7px;
  font-size: 19px;
  cursor: pointer;
  font-weight: 800;
}
/*Style bottom_bar*/
.nav .container .bottom_bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #0163d2;
  padding: 0px;
  flex-wrap: wrap;
}
.nav .container .bottom_bar .user-detail {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  background: #2196f3;
  padding: 17px 35px;
  border-radius: 6px;
}

.nav .container .bottom_bar .user-detail .icon {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.nav .container .bottom_bar .user-detail .detail {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}
.nav .container .bottom_bar .user-detail .detail h2 {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}
.nav .container .bottom_bar p {
  color: #fff;
  font-size: 12px;
}
/*----------------------------------*/

.nav .container .bottom_bar ul {
  display: flex;
  gap: 40px;
  align-items: center;
  margin: 0;
  list-style: none;
}
.nav .container .bottom_bar ul li {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.nav .container .bottom_bar ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Hover effect */
.nav .container .bottom_bar ul li a:hover {
  color: #a9f406;
}
/*----------------------------------*/
.nav .container .bottom_bar .offer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  gap: 20px; /*
  background: #2196f3;
  border-radius: 6px;*/
}
.nav .container .bottom_bar .offer .box {
  display: flex;
  gap: 10px;
}
.nav .container .bottom_bar .offer .box .link {
  cursor: pointer;
  font-size: 1rem;
  color: #fff;
}
.nav .container .bottom_bar .offer .box p {
  cursor: pointer;
  font-size: 1rem;
  color: #fff;
}
/*Responsive for mobile devices*/
@media (max-width: 1000px) {
  .nav .container .top_bar {
    padding: 20px 25px;
  }
  .nav .container .top_bar p {
    font-weight: 600;
    font-size: 13px;
  }

  .nav .container .bottom_bar ul {
    gap: 20px;
  }
  .nav .container .bottom_bar ul li {
    font-size: 16px;
    font-weight: 600;
  } /*++++++++++++++++++++++++++++++++++++++++++++++++*/
  .nav .container .mid_bar .content .search_bar input {
    width: 450px;
  }
}
/*Responsive for mobile devices*/
@media (max-width: 850px) {
  /*Responsive style top_bar*/
  .nav .container .top_bar {
    padding: 15px 12px;
  }
  .nav .container .top_bar p {
    color: #757575;
    font-weight: 600;
    font-size: 13px;
  }

  /*Responsive style mid_bar*/
  .nav .container .mid_bar .content .navicon {
    display: block;
  }
  .nav .container .mid_bar .content .navicon .navopen {
    font-size: 22px;
    margin-top: 12px;
  }
  .nav .container .mid_bar .content .navicon .closenav {
    font-size: 22px;
    margin-top: 12px;
  } /*++++++++++++++++++++++++++++++++++++++++++++++++*/
  .nav .container .mid_bar .content .search_bar {
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  } /*++++++++++++++++++++++++++++++++++++++++++++++++*/
  .nav .container .mid_bar .content .search_bar input {
    width: 100%;
    padding: 14px;
    outline: none;
    border: 1px solid #bdbdbd;
  }
  .nav .container .mid_bar .content .icons {
    border: none;
    font-size: 16px;
    margin-top: 0px;
  }
  .nav .container .mid_bar .content .icons {
    opacity: 1;
  }

  .nav .container .mid_bar .content .logo img {
    margin-top: 0px;
    width: 150px;
  } /*++++++++++++++++++++++++++++++++++++++++++++++++*/
  .nav .container .mid_bar .content .search_bar {
    display: flex;
    margin-left: 0px; /**/
    margin-top: 55px; /**/
  }
  .nav .container .bottom_bar .offer {
    display: none;
  }
  /*Responsive style bottom_bar*/
  .nav .container .bottom_bar {
    margin-top: 60px;
    flex-direction: column;
    display: none;
  }

  .nav .container .bottom_bar .user-detail {
    display: flex;
    justify-content: center;
    background: #1953b4;
    padding: 10px 20px;
  }
  .nav .container .bottom_bar .user-detail .detail h2 {
    font-size: 13px;
  }
  .nav .container .bottom_bar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .nav .container .bottom_bar ul li {
    margin-top: 20px;
    font-size: 14px;
  }
  .nav .container .bottom_bar .offer h2 {
    font-size: 14px;
    text-align: center;
    padding: 8px 0px;
  }
  .nav .container .active {
    display: block;
  }
}
