* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  position: fixed;
  top: 0%;
  left: 50%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 15px 22px 15px 22px;
  z-index: 11111;
  background-image: url("../img/homebackground1.webp");
  background-repeat: no-repeat;
  background-size: 100% 600%;
  transition: all 0.3s;
  transform: translateX(-50%);
}

.nav.active {
  top: 20px;
  width: 95%;
  transform: translateX(-50%);
  border-radius: 20px;
}
.nav .menu-button {
  color: #ffffff;
  font-size: 1.5rem;
  display: none;
}
.nav .logo {
  width: 8%;
  height: 7%;
  transition: 0.5s;
  cursor: pointer;
  min-width: 130px;
  margin: 0px 8px;
}
.nav .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav ul {
  display: flex;
  gap: 40px;
  align-items: center;
  margin: 0;
  list-style: none;
  transition: all 4s ease;
}

.nav ul li {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.nav ul li a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav ul li a:hover {
  color: #2196f3;
}

.search_bar {
  position: relative;
  display: flex;
  align-items: center;
  transition: all 0.4s ease;
  width: 25%;
  min-width: 310px;
}

.search_bar.expanded {
  width: 33%;
}

/* Input */
.search_input {
  width: 100%;
  padding: 8px 14px;
  outline: none;
  border-radius: 15px;
  border: 2px solid #ffffff;
  background: #ffffff;
  color: #2196f3;
  transition: all 0.4s ease;
}

/* Search icon */
.search_bar .search {
  position: absolute;
  right: 15px;
  top: 55%;
  transform: translateY(-50%);
  color: #2196f3;
  font-size: 1.3rem;
  cursor: pointer;
}

.nav .search_bar .search-result-box {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 100%;
  height: fit-content;
  background: #fff;
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;
  border-top: none;
  border: 1px solid #2196f3;
  z-index: 5;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 100;
}
.nav .search_bar .search-result-box span,
.search_bar .search-result-box p {
  font-size: 0.9rem;
  color: #757575;
  text-align: left;
}
.nav .search_bar .search-result-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 8px;
  cursor: pointer;
}
.nav .search_bar .search-result-item p {
  margin-left: auto;
  color: #2196f3;
}

.nav .search_bar .search-result-item:hover {
  background: #f5f5f5;
}
.search-result-box::-webkit-scrollbar {
  width: 6px;
}

.search-result-box::-webkit-scrollbar-thumb {
  background: #2196f3;
  border-radius: 5px;
  padding-right: 10px;
}

.nav .user-detail {
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.nav .user-detail .icon {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.nav .user-detail .detail {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}
.nav .user-detail .detail h2 {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.5px;
}
.nav .sidebar-wishlist {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  gap: 50px;
}
.nav .sidebar-wishlist .box {
  display: flex;
  gap: 20px;
  color: red;
  align-items: center;
  justify-content: center;
}
.nav .sidebar-wishlist .box .link {
  cursor: pointer;
  font-size: 1.1rem;
  color: #fff;
}
.nav .sidebar-wishlist .box .link:hover,
.nav .sidebar-wishlist .box p:hover {
  color: #2196f3;
}

.nav .sidebar-wishlist .box p {
  cursor: pointer;
  font-size: 1rem;
  color: #fff;
}
.nav .login-signup {
  margin-top: -7px;
}
.nav .login-signup p,
.nav .login-signup .link {
  cursor: pointer;
  font-size: 1rem;
  color: #fff;
}
.nav .login-signup .link:hover {
  color: #2196f3;
}
@media (max-width: 1400px) {
  .nav ul {
    display: none;
  }
  .nav .menu-button {
    display: inline-block;
  }
  .nav .menu-button {
    display: block;
  }
  .nav .user-detail {
    display: none;
  }
  .search_bar.expanded {
    width: 33%;
  }
  .nav .search_bar .search-result-box span,
  .search_bar .search-result-box p {
    font-size: 0.8rem;
  }
}
@media (max-width: 1000px) {
  .nav .sidebar-wishlist .box p {
    display: none;
  }
  .search_bar.expanded {
    width: 25%;
  }
}
@media (max-width: 850px) {
  .nav {
    position: relative;
    top: 0%;
    left: 50%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 15px 22px 15px 22px;
    z-index: 8;
    background-image: url("../img/homebackground1.webp");
    background-repeat: no-repeat;
    background-size: 100% 600%;
    transition: all 3s;
    transform: translateX(-50%);
  }

  .nav.active {
    top: 0%;
    width: 100%;
    border-radius: 0px;
  }

  .search_bar {
    order: 5;
    margin: 15px 0px;
    width: 100%;
  }
  .search_bar.expanded {
    width: 100%;
  }

  .nav .login-signup .link {
    cursor: pointer;
    font-size: 0.8rem;
    color: #fff;
  }
  .nav .logo {
    width: 7%;
    height: 7%;
    transition: 0.5s;
    cursor: pointer;
    min-width: 110px;
  }
  .nav .sidebar-wishlist {
    gap: 30px;
  }
}
