* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.shop {
  width: 100%;
  padding: 200px 100px 100px 100px;
}
.shop .container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 20px;
}
.shop .container .left-box {
  width: 18%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 5px;
}
.shop .container .left-box h2 {
  padding: 5px 0px;
  width: 128px;
  font-size: 1.5rem;
  border-bottom: 2px solid #2196f3;
  /*align-self: center;*/
}
.shop .container .left-box ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.shop .container .left-box ul li {
  list-style: none;
  border: 2px solid #eeeeee;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease-out;
}
.shop .container .left-box ul li:hover {
  background: #2196f3;
  color: #fff;
} /*----------right-box products----------*/
.shop .container .right-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.shop .container .right-box .propreties {
  width: 95%;
  padding: 15px 0px;
  border: 2px solid #eeeeee;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.shop .container .right-box .products {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
.shop .container .right-box .propreties .price-rate {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.shop .container .right-box .propreties .price-min-max {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.shop .container .right-box .propreties .price-min-max input {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #eeeeee;
  padding: 5px;
}
.shop .container .right-box .propreties .price-min-max button {
  border: 2px solid #2196f3;
  padding: 10px 15px;
  background: #2196f3;
  color: #fff;
  font-weight: 600;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
}
.shop .container .right-box .propreties .price-min-max input {
  width: 80px;
}
.shop .container .right-box .propreties .price-rate .price,
.shop .container .right-box .propreties .price-rate .rate {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.shop .container .right-box .propreties .stock {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.shop .container .right-box .propreties .stock input[type="checkbox"] {
  width: 17px;
  height: 17px;
  cursor: pointer;
}
.shop .container .right-box .products .box {
  border: 2px solid #eeeeee;
  border-radius: 10px;
  padding: 10px 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  position: relative;
  cursor: pointer;
}

.shop .container .right-box .products .box .img-box img {
  width: 100%;
  height: 170px;
  margin: 15px 0px;
}

.shop .container .right-box .products .box .detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.shop .container .right-box .products .box .detail .icons {
  position: absolute;
  margin-top: -100px;
  transition: 0.2s;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  opacity: 0;
}

.shop .container .right-box .products .box .detail .icons .icon {
  font-size: 18px;
}
/*Hovering effect on product box*/

.shop .container .right-box .products .box:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.4s;
}

.shop .container .right-box .products .box:hover .detail .icons {
  opacity: 1;
  transition: 0.4s;
}

.shop .container .right-box .products .box:hover .img-box {
  opacity: 5%;
}

.shop .container .right-box .products .box .detail .icons .icon:hover {
  color: #2196f3;
  background: #fff;
  border: 1px solid #2196f3;
}

.shop .container .right-box .products .box .detail .icons .icon {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  background: #2196f3;
  cursor: pointer;
}
.shop .container .right-box .products .box .detail .prod-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  margin-top: 10px;
  border: 2px solid #eeeeee;
  padding: 10px 5px;
  border-radius: 5px;
}
.shop .container .right-box .products .box .detail .prod-details .rating {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.shop .container .right-box .products .box .detail .prod-details .rating p {
  font-size: 0.8rem;
}
.shop .container .right-box .products .box .detail .prod-details .productState {
  font-size: 0.9rem;
}
.shop .container .right-box .products .box .detail h3 {
  text-align: center;
  color: #232323;
  font-size: 15px;
  line-height: 1.3rem;
}

.shop .container .right-box .products .box .detail h4 {
  margin-top: 10px;
  color: #2196f3;
  font-size: 17px;
  font-weight: 700;
}

.shop .container .right-box .products .box .detail button {
  border: 1px solid #2196f3;
  margin-top: 20px;
  padding: 10px 20px;
  background: #2196f3;
  color: #fff;
  font-weight: 600;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
}

.shop .container .right-box .products .box .detail button:hover {
  color: #2196f3;
  background: none;
  border: 1.5px solid #2196f3;
}

.box .wishlist-icon {
  position: absolute;
  top: 12px;
  right: 15px;
  border: 2px solid #eeeeee;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

@media (max-width: 1500px) {
  .shop {
    width: 100%;
    padding: 130px 50px 60px 50px;
  }
  .shop .container {
    flex-direction: column;
    align-items: center;
  }
  .shop .container .left-box {
    width: 100%;
  }
  .shop .container .left-box h2 {
    align-self: center;
    text-align: center;
    width: 126px;
    margin: 20px 0px;
  }
  .shop .container .left-box ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .shop .container .left-box ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    text-align: center;
  }

  .shop .container .right-box .products {
    width: 100%;
  }
}
@media (max-width: 860px) {
  .shop {
    width: 100%;
    padding: 50px 20px 60px 20px;
  }
  .shop .container .left-box h2 {
    font-size: 1.3rem;
    width: 110px;
  }

  .shop .container .left-box ul li {
    width: 220px;
    text-align: center;
  }
}
@media (max-width: 650px) {
  .shop .container .right-box .products {
    gap: 10px;
  }
  .shop .container .left-box ul li {
    width: 30%;
    text-align: center;
    font-size: 0.85rem;
  }
  .shop .container .right-box .products .box {
    padding: 10px 10px;
    width: 48%;
  }

  .shop .container .right-box .products .box .img-box img {
    width: 100%; /**/
    height: 120px; /**/
    margin: 10px 0px;
  }

  .shop .container .right-box .products .box .detail .prod-details {
    width: 90%;
  }
  .shop .container .right-box .products .box .detail .prod-details .rating {
    flex-direction: column;
    align-items: center;
  }

  .rating p:first-of-type {
    display: none;
  }

  .shop .container .right-box .products .box .detail h3 {
    font-size: 0.85rem;
  }
  .shop .container .right-box .products .box .detail .icons {
    display: none;
  }
  .shop .container .right-box .products .box:hover {
    box-shadow: none;
  }
  .shop .container .right-box .products .box:hover .img-box {
    opacity: 100%;
  }
}
