.sidemenu {
  position: fixed;
  top: 120px;
  left: 0px;
  width: 410px;
  height: 87vh;
  background: white;
  border: 2px solid #2196f3;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transform: translateX(0px);
  opacity: 1;
  gap: 50px;
  padding: 15px 60px 25px 60px;
  transition: transform 0.4s ease, opacity 0.3s ease;
  z-index: 9;
  border: 2px solid #2196f3;
  overscroll-behavior: contain;
  border-radius: 0px 15px 0px 0px;
}
.close-button {
  position: absolute;
  top: 16px;
  right: 12px;
  padding: 9px 14px;
  background: #2196f3;
  color: #fff;
  font-size: 18px;
  line-height: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: 1.5px solid #2196f3;
  transition: background 150ms ease, transform 120ms ease;
}
.close-button:hover {
  color: #2196f3;
  background: none;
  border: 1px solid #2196f3;
}
.sidemenu.hidden {
  transform: translateX(-410px);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.3s ease;
}
.sidemenu .logo {
  width: 220px;
  height: 45px;
  align-self: center;
  cursor: pointer;
}
.sidemenu .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.sidemenu ul {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-self: center;
  list-style: none;
}
.sidemenu ul li {
  border: 2px solid #eeeeee;
  width: 100%;
  text-align: center;
}

.sidemenu ul li a {
  display: block;
  color: #2196f3;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 15px 110px;
  border-radius: 8px;
}
.sidemenu ul li .active {
  background: #2196f3;
  color: white;
}
.sidemenu ul li a:hover {
  background: #2196f3;
  color: white;
}
.sidemenu .user-detail {
  border: 2px solid #eeeeee;
  border-radius: 8px;
  padding: 20px 50px;
  margin-top: auto;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.sidemenu .user-detail .icon {
  color: #2196f3;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.sidemenu .user-detail .detail {
  color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: left;
  font-size: 0.6rem;
}
@media (max-width: 850px) {
  .sidemenu {
    position: fixed;
    top: 0px;
    left: 0px;
    border-radius: 0px;
    height: 100vh; /*a ajuster pour mobile phone*/
  }
}
@media (max-width: 500px) {
  .sidemenu {
    width: 100%;
  }
  .sidemenu.hidden {
    transform: translateX(-100%);
  }
}
