.single-product {
  position: relative;
  width: 100%;
  padding: 160px 60px 100px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.product-container {
  width: 90%;
}
.product-container .links {
  padding: 15px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}

.product-info {
  display: flex;
  flex-direction: column;
}

.product-image {
  width: 48%;
  height: 750px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

.product-description {
  width: 90%;
  border: 3px solid red;
}
.product-image img {
  border: 3px solid #eeeeee;
  padding: 20px;
  width: 100%;
  height: 100%;
  object-fit: contain; /* keeps images looking clean */
  border-radius: 10px;
  cursor: pointer;
  /* optional */
}

.preview {
  grid-area: 1/1/5/5;
}
.preserve {
  white-space: pre-wrap;
}
.reviews {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.customer-review {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 2px solid #eeeeee;
  padding: 10px;
  border-radius: 10px;
}
.customer-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: row;
  gap: 10px;
}
.grey-border {
  border: 2px solid #eeeeee;
  width: fit-content;
  padding: 8px;
}
.szh-accordion__item-heading {
  background: #f8f8f8;
  padding: 12px;
  border-radius: 6px;
}

.szh-accordion__item-btn {
  font-size: 18px;
  font-weight: 600;
}

.szh-accordion__item-content {
  padding: 15px;
  border-left: 3px solid #2196f3;
  background: #fff;
}
.singleproduct-details {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.product-des {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product-des h1 {
  font-size: 2rem;
  font-weight: 650;
}

.product-info,
.rating,
.buttons,
.sold-qty {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.sold-qty {
  background-color: #00cc00;
  width: fit-content;
  padding: 6px 12px;
  border-radius: 8px;
  color: white;
}
.sold-qty .qty-icon {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.payment {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.payment h2 {
  font-size: 1.8rem;
  font-weight: 650;
}
.payment p {
  color: #757575;
  font-size: 0.9rem;
}
.product-info .stock {
  color: #00cc00;
  font-weight: 600;
}
.orange {
  color: #ff9900;
  font-weight: 800;
}
hr {
  width: 100%;
  color: #eeeeee;
  opacity: 20%;
}
.quantity {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.quantity .product-qty {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
  border-radius: 10px;
  width: fit-content;
}
.quantity .product-qty input {
  width: 70px;
  height: 45px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border: 1px solid #2196f3;
  outline: none;
  background: none;
}

.quantity .product-qty input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.quantity .product-qty button {
  background: #2196f3;
  color: white;
  border: none;
  font-size: 20px;
  width: 45px;
  height: 45px;
  cursor: pointer;
  transition: background 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity .product-qty .decrement {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.quantity .product-qty .increment {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.quantity .product-qty button:hover {
  background: #0056b3;
}

.checkout button {
  padding: 10px 0px;
  background: #2196f3;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
  border: 1px solid transparent;
}

.checkout button:hover {
  color: #2196f3;
  background: none;
  border: 1px solid #2196f3;
}
.checkout hr {
  border: 1px solid #d6d6d6;
  opacity: 60%;
}
.coupon p {
  text-decoration: underline;
  cursor: pointer;
  color: #2196f3;
  width: fit-content;
}
.coupon .box {
  position: relative;
  width: 30%;
  height: 42px;
  margin: 10px 0px;
}
.coupon .box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 15px 10px;
  color: #232323;
  border: 1.5px solid #2196f3;
  border-radius: 5px;
  font-size: 1rem;
}
.coupon .box .submit {
  position: absolute;
  right: 15px;
  top: 58%;
  transform: translateY(-50%);
  color: #2196f3;
  font-size: 1.4rem;
  cursor: pointer;
}
.buttons button {
  padding: 20px 60px;
  border: 1px solid #2196f3;
  border-radius: 30px;
  background: #2196f3;
  color: #eeeeee;
  font-size: 1.1rem;
  font-weight: 800;
  letter-spacing: 0.5px;
  cursor: pointer;
}
.buttons button:nth-child(2) {
  background: none;
  color: #2196f3;
}
.additional-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.additional-info .box {
  display: flex;
  width: 100%;
  border: 2px solid #eeeeee;
  border-radius: 8px;
  padding: 15px 10px;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.additional-info .box .icon {
  font-size: 2.8rem;
  color: #2196f3;
  display: flex;
  align-items: center;
}
.additional-info .box .detail h3 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
}
.additional-info .box .detail p {
  margin-top: 5px;
  color: #757575;
  font-size: 0.9rem;
}
/*accordion-container*/
.accordion-container {
  width: 90%;
  margin: 0 auto;
}

.accordion-item {
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 12px;
  overflow: hidden;
  transition: 0.3s ease;
}

.accordion-header {
  width: 100%;
  background: #f5f5f5;
  padding: 16px;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s ease;
}

.accordion-header:hover {
  background: #e9e9e9;
}

.accordion-content {
  padding: 16px;
  background: #fff;
  font-size: 1rem;
  color: #444;
  animation: fadeIn 0.3s ease forwards;
}

.accordion-content .icon {
  font-size: 1.5rem;
  font-weight: bold;
}

.accordion-content.customer-review {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.accordion-content .box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.customer-review .border {
  padding: 7px;
  border: 2px solid #eeeeee;
  width: fit-content;
  border-radius: 7px;
}
/*
.accordion-content .customer p {
  padding: 7px;
  border: 2px solid #eeeeee;
  width: fit-content;
  border-radius: 7px;
  background-color: #e5e5e5;
}

.accordion-content .box {
  padding: 7px;
  border: 2px solid #eeeeee;
  width: fit-content;
  border-radius: 7px;
}
*/
.qa-block {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 12px 0;
}

.qa-block p strong {
  font-size: 16px;
  font-weight: 600;
  color: #222;
  padding: 7px;
  border: 2px solid #eeeeee;
  width: fit-content;
  border-radius: 7px;
}

.qa-block .answer {
  font-size: 15px;
  color: #555;
  padding: 7px;
  width: fit-content;
  border-radius: 7px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
