.single-product {
  position: relative;
  width: 100%;
  padding: 200px 100px 100px 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
.product-image {
  width: 40%;
  height: 750px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}
.product-details {
  width: 48%;
  height: 50px;
  background-color: blue;
  border: 2px solid red;
}
.product-description {
  width: 100%;
  height: 50px;
  background-color: blue;
  border: 3px solid red;
}
.product-image img {
  border: 3px solid #eeeeee;
  padding: 20px;
  width: 100%;
  height: 100%;
  object-fit: contain; /* keeps images looking clean */
  border-radius: 10px;
  cursor: pointer;
  /* optional */
}

.preview {
  grid-area: 1/1/5/5;
}
