.home-swiper {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("../img/homebackground.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  z-index: 1;
}

.swiper-pagination {
}
.home-swiper .text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 40px;
  border: 1px solid red;
  z-index: 10;
}
.swiper-box {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 150px;
  z-index: 1;
}
.swiper-box .info {
  width: 60%;
}
.swiper-box .info h2 {
  font-size: 3.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 4.9rem;
  color: white;
  font-weight: 800;
}
.swiper-box .info p {
  color: white;
  margin-top: 15px;
  font-weight: 500;
  font-size: 1.3rem;
}
.swiper-box .info p span {
  color: white;
  font-weight: 700;
}
.swiper-box .info button {
  margin-top: 30px;
  padding: 10px 20px;
  background: none;
  color: white;
  font-weight: 600;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
  border: 2px solid transparent;
  font-size: 1.1rem;
  border: 2px solid #2196f3;
}

.swiper-box .info button:hover {
  color: white;
  background: #2196f3;
  border: 2px solid #2196f3;
}

.swiper-box .image {
  width: 420px;
  height: 420px;
}
.swiper-box .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1700px) {
  .swiper-box .info h2 {
    font-size: 3.2rem;
  }
}
@media (max-width: 1500px) {
  .swiper-box {
    flex-direction: column;
    padding: 20px 30px 65px 30px;
    gap: 10px;
    justify-content: space-evenly;
  }
  .swiper-box .info {
    width: 100%;
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .swiper-box .info h2 {
    text-align: center;
    font-size: 2.7rem;
  }
  .swiper-box .image {
    width: 25%;
    min-width: 180px;
    height: auto;
  }
  .swiper-box .info p {
    font-size: 1.2rem;
  }
}
@media (max-width: 850px) {
  .swiper-box .info h2 {
    font-size: 1.9rem;
    line-height: 2.8rem;
  }
  .home-swiper {
    height: 88vh;
  }
}
@media (max-width: 650px) {
  .swiper-box .info h2 {
    font-size: 1.4rem;
    line-height: 2.5rem;
  }
  .home-swiper {
    height: 76vh;
  }
}
