/*  ===== Lightbox style ===== */
.footer {
  width: 100%;
  background: #eee;
  padding: 55px 100px 10px 100px;
}
.footer .footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.upper-part {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 30px;
}
.upper-part .detail-box {
  width: 28%;
  display: flex;
  gap: 18px;
  flex-direction: column;
}
.upper-part .box {
  padding-top: 15px;
  width: 14%;
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.upper-part .detail-box .logo img {
  width: 160px;
  transition: 0.5s;
  cursor: pointer;
}
.upper-part .detail-box .logo img:hover {
  opacity: 0.8;
}
.upper-part .detail-box .detail p {
  color: #757575;
  font-size: 1rem;
  line-height: 1.5rem;
}
.upper-part .social-links ul {
  font-size: 1.6rem;
  display: flex;
  gap: 10px;
  color: #2196f3;
  list-style: none;
}
.upper-part .social-links ul li {
  cursor: pointer;
}

.upper-part .box .header h2 {
  color: #232323;
  font-size: 1.2rem;
}
.upper-part .box .bottom ul {
  list-style: none;
}
.upper-part .box .bottom ul li {
  margin-bottom: 12px;
  font-size: 0.9rem;
  color: #757575;
  cursor: pointer;
}
.upper-part .box .bottom ul li:hover {
  color: #2196f3;
}

.upper-part .box .bottom {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 10px;
}
.upper-part .box .bottom .mobile-app {
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.upper-part .box .bottom .mobile-app:hover {
  color: #2196f3;
}
.upper-part .box .bottom .mobile-app p {
  font-size: 0.9rem;
  color: #757575;
}
.upper-part .box .bottom .mobile-app .social-icon {
  font-size: 18px;
  color: #2196f3;
}

.footer .footer-container .ligne {
  width: 100%;
  border-top: 2px solid #fff;
  align-self: center;
}
.bottom-section {
  padding: 5px 0px 8px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.bottom-section .additional-links ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 40px;
  color: #757575;
}
.bottom-section .additional-links ul li {
  cursor: pointer;
  font-size: 0.77rem;
}
.bottom-section .additional-links ul li:hover {
  color: #2196f3;
}
.bottom-section .addresse p {
  color: #757575;
  font-size: 0.77rem;
  text-align: center;
}
/* --- Responsive styles --- */
@media (max-width: 1160px) {
  .upper-part {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 15px;
  }

  .footer {
    width: 100%;
    background: #eee;
    padding: 55px 30px 10px 30px;
  }
  .bottom-section .additional-links ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .upper-part .box .header h2 {
    color: #232323;
    font-size: 0.9rem;
  }
}
@media (max-width: 700px) {
  .bottom-section .additional-links ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .upper-part .box .header h2 {
    color: #232323;
    font-size: 0.95rem;
  }
  .upper-part .detail-box .detail p {
    text-align: center;
  }
  .upper-part {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .upper-part .detail-box {
    padding-top: 30px;
    width: 100%;
    align-items: center;
    order: 4;
  }
  .upper-part .box {
    padding-top: 15px;
    width: 100%;
    align-items: center;
  }
  .upper-part .box .bottom {
    align-items: center;
  }
  .upper-part .box .bottom .align {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
