@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
html {
  font-size: 16px;
}

* {
  font-family: "Nunito", sans-serif;
  font-weight: 650;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #2196f3;
  border-radius: 5px;
  padding-right: 10px;
}
